In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from astropy.io import fits
import os 
import sys
from astropy.cosmology import FlatLambdaCDM
import astropy.units as u
cosmo = FlatLambdaCDM(H0=70 * u.km / u.s / u.Mpc, Tcmb0=2.725 * u.K, Om0=0.3)
import statistics as stats
from uncertainties import ufloat
import math

In [2]:
hdu = fits.open('/Users/quinncasey/Desktop/research/eboss/spLine_trim_dr16_eboss.fits')

In [3]:
ha = hdu[1].data['H_ALPHA_FLUX'].tolist()
ha_err = hdu[1].data['H_ALPHA_FLUX_ERR'].tolist()
hb = hdu[1].data['H_BETA_FLUX'].tolist()
hb_err = hdu[1].data['H_BETA_FLUX_ERR'].tolist()
o3 = hdu[1].data['OIII_5007_FLUX'].tolist()
o3_err = hdu[1].data['OIII_5007_FLUX_ERR'].tolist()
n2 = hdu[1].data['NII_6584_FLUX'].tolist()
n2_err = hdu[1].data['NII_6584_FLUX_ERR'].tolist()

z = hdu[1].data['Z'].tolist()
plate = hdu[1].data['PLATE'].tolist()
mjd = hdu[1].data['MJD'].tolist()
fiber = hdu[1].data['FIBER'].tolist()

In [4]:
data_names = ['ha', 'ha_err', 'hb', 'hb_err', 'o3', 'o3_err', 'n2', 'n2_err', 'z']
data_dict = {'ha':ha, 'ha_err':ha_err, 'hb':hb, 'hb_err':hb_err, 'o3':o3, 
            'o3_err':o3_err, 'n2':n2, 'n2_err':n2_err, 'z':z, 'plate':plate, 
            'mjd':mjd, 'fiber':fiber}
df = pd.DataFrame(data_dict)

In [5]:
for name in data_names: 
    df = df.loc[df[name].notnull()]

In [6]:
df = df.loc[(df['ha']/df['ha_err']) > 3]
df = df.loc[(df['hb']/df['hb_err']) > 3]
df = df.loc[(df['n2']/df['n2_err']) > 3]
df = df.loc[(df['o3']/df['o3_err']) > 3]

df = df.query('z > 0.005 & z <= 0.55')

df['lookback_time_Gyr'] = cosmo.age(df['z'])

df1 = df.query('lookback_time_Gyr < 13.397394067278762 & lookback_time_Gyr >= 12.068407817585271')
df2 = df.query('lookback_time_Gyr < 12.068407817585271 & lookback_time_Gyr >= 10.739421567891778')
df3 = df.query('lookback_time_Gyr < 10.739421567891778 & lookback_time_Gyr >= 9.410435318198287')
df4 = df.query('lookback_time_Gyr < 9.410435318198287 & lookback_time_Gyr >= 8.081449068504796')

In [7]:
def low_met_agn_1(df1): 
    x_values = df1.x.values
    y_values = df1.y.values.tolist()
    
    ha_1 = df1['ha'].values
    hb_1 = df1['hb'].values
    n2_1 = df1['n2'].values
    o3_1 = df1['o3'].values
    z_1 = df1['z'].values
    plate_1 = df1['plate'].values
    mjd_1 = df1['mjd'].values
    fiber_1 = df1['fiber'].values
    
    
    kewl_agn_class_line_mod = (0.61/(x_values-0.02-0.1833*(df1.loc[:,"z"].median())))+1.4+0.03*(df1.loc[:,"z"].median())
    
    df1 = []
    
    for x, y, agn_line in zip(x_values, y_values, kewl_agn_class_line_mod):
        if x < -0.8 and y > agn_line:
            df1.append('lowmetagn')
        elif x >=-0.8 and y > agn_line:
            df1.append('agn')
        elif x > 0.0:
            df1.append('agn')
        else: 
            df1.append('starform')
            
    return df1, ha_1, hb_1, n2_1, o3_1, z_1, plate_1, mjd_1, fiber_1

def low_met_agn_2(df2): 
    x_values = df2.x.values
    y_values = df2.y.values.tolist()
    
    ha_2 = df2['ha'].values
    hb_2 = df2['hb'].values
    n2_2 = df2['n2'].values
    o3_2 = df2['o3'].values
    z_2 = df2['z'].values
    plate_2 = df2['plate'].values
    mjd_2 = df2['mjd'].values
    fiber_2 = df2['fiber'].values
    
    
    kewl_agn_class_line_mod = (0.61/(x_values-0.02-0.1833*(df2.loc[:,"z"].median())))+1.4+0.03*(df2.loc[:,"z"].median())
    
    df2 = []
    
    for x, y, agn_line in zip(x_values, y_values, kewl_agn_class_line_mod):
        if x < -0.8 and y > agn_line:
            df2.append('lowmetagn')
        elif x >=-0.8 and y > agn_line:
            df2.append('agn')
        elif x > 0.0:
            df2.append('agn')
        else: 
            df2.append('starform')
            
    return df2, ha_2, hb_2, n2_2, o3_2, z_2, plate_2, mjd_2, fiber_2

def low_met_agn_3(df3): 
    x_values = df3.x.values
    y_values = df3.y.values.tolist()
    
    ha_3 = df3['ha'].values
    hb_3 = df3['hb'].values
    n2_3 = df3['n2'].values
    o3_3 = df3['o3'].values
    z_3 = df3['z'].values
    plate_3 = df3['plate'].values
    mjd_3 = df3['mjd'].values
    fiber_3 = df3['fiber'].values
    
    
    kewl_agn_class_line_mod = (0.61/(x_values-0.02-0.1833*(df3.loc[:,"z"].median())))+1.4+0.03*(df3.loc[:,"z"].median())
    
    df3 = []
    
    for x, y, agn_line in zip(x_values, y_values, kewl_agn_class_line_mod):
        if x < -0.8 and y > agn_line:
            df3.append('lowmetagn')
        elif x >=-0.8 and y > agn_line:
            df3.append('agn')
        elif x > 0.0:
            df3.append('agn')
        else: 
            df3.append('starform')
            
    return df3, ha_3, hb_3, n2_3, o3_3, z_3, plate_3, mjd_3, fiber_3

def low_met_agn_4(df4): 
    x_values = df4.x.values
    y_values = df4.y.values.tolist()
    
    ha_4 = df4['ha'].values
    hb_4 = df4['hb'].values
    n2_4 = df4['n2'].values
    o3_4 = df4['o3'].values
    z_4 = df4['z'].values
    plate_4 = df4['plate'].values
    mjd_4 = df4['mjd'].values
    fiber_4 = df4['fiber'].values
    
    
    kewl_agn_class_line_mod = (0.61/(x_values-0.02-0.1833*(df4.loc[:,"z"].median())))+1.4+0.03*(df4.loc[:,"z"].median())
    
    df4 = []
    
    for x, y, agn_line in zip(x_values, y_values, kewl_agn_class_line_mod):
        if x < -0.8 and y > agn_line:
            df4.append('lowmetagn')
        elif x >=-0.8 and y > agn_line:
            df4.append('agn')
        elif x > 0.0:
            df4.append('agn')
        else: 
            df4.append('starform')
            
    return df4, ha_4, hb_4, n2_4, o3_4, z_4, plate_4, mjd_4, fiber_4

In [8]:
df1['x'] = np.log10(df1['n2']/df1['ha'])
df1['y'] = np.log10(df1['o3']/df1['hb'])
df11 = low_met_agn_1(df1)
df11 = pd.DataFrame(df11)
df11 = df11.transpose()
df11.columns = ['Type', 'ha', 'hb', 'n2', 'o3', 'z', 'plate', 'mjd', 'fiber']


df2['x'] = np.log10(df2['n2']/df2['ha'])
df2['y'] = np.log10(df2['o3']/df2['hb'])
df22 = low_met_agn_2(df2)
df22 = pd.DataFrame(df22)
df22 = df22.transpose()
df22.columns = ['Type', 'ha', 'hb', 'n2', 'o3', 'z', 'plate', 'mjd', 'fiber']

df3['x'] = np.log10(df3['n2']/df3['ha'])
df3['y'] = np.log10(df3['o3']/df3['hb'])
df33 = low_met_agn_3(df3)
df33 = pd.DataFrame(df33)
df33 = df33.transpose()
df33.columns = ['Type', 'ha', 'hb', 'n2', 'o3', 'z', 'plate', 'mjd', 'fiber']

df4['x'] = np.log10(df4['n2']/df4['ha'])
df4['y'] = np.log10(df4['o3']/df4['hb'])
df44 = low_met_agn_4(df4)
df44 = pd.DataFrame(df44)
df44 = df44.transpose()
df44.columns = ['Type', 'ha', 'hb', 'n2', 'o3', 'z', 'plate', 'mjd', 'fiber']

/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/quinncasey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df_lmagn_1 = df11[df11.Type != 'starform']
df_lmagn_1 = df_lmagn_1[df_lmagn_1.Type != 'agn']

df_lmagn_2 = df22[df22.Type != 'starform']
df_lmagn_2 = df_lmagn_2[df_lmagn_2.Type != 'agn']

df_lmagn_3 = df33[df33.Type != 'starform']
df_lmagn_3 = df_lmagn_3[df_lmagn_3.Type != 'agn']

df_lmagn_4 = df44[df44.Type != 'starform']
df_lmagn_4 = df_lmagn_4[df_lmagn_4.Type != 'agn']

In [10]:
print(len(df_lmagn_1))
print(len(df_lmagn_2))
print(len(df_lmagn_3))
print(len(df_lmagn_4))

5
6
7
26

In [11]:
df_lmagn_1 = df_lmagn_1.drop(columns=['Type', 'ha', 'hb', 'n2', 'o3', 'z'])
df_lmagn_1

      plate    mjd fiber
4795   4445  55869   993
6113   4802  55652   408
9696   6145  56266   163
17102  8377  57783   874
17479  8493  58162   238

In [12]:
df_lmagn_2 = df_lmagn_2.drop(columns=['Type', 'ha', 'hb', 'n2', 'o3', 'z'])
df_lmagn_2

      plate    mjd fiber
5077   5298  55979   880
8476   6986  56717   276
8504   7032  56471    53
9059   7243  56629   626
9587   7310  56693   844
11378  8197  57064   290

In [13]:
df_lmagn_3 = df_lmagn_3.drop(columns=['Type', 'ha', 'hb', 'n2', 'o3', 'z'])
df_lmagn_3

       plate    mjd fiber
446    10659  58161   810
5027    4697  55660   618
11104   7027  56448   390
12976   7337  56662    40
13099   7378  56715   693
15253   7906  57333   843
18023   8839  57846   386

In [14]:
df_lmagn_4 = df_lmagn_4.drop(columns=['Type', 'ha', 'hb', 'n2', 'o3', 'z'])
df_lmagn_4

       plate    mjd fiber
891    11312  58433   676
1413    3674  55182   551
1918    3783  55246   882
2161    3817  55277   677
5047    4395  55828   415
6042    4603  55999   679
6046    4604  55983   433
6173    4624  55654   471
6203    4628  55646   103
7094    4763  55869   148
7461    4836  55689   781
7530    4852  55689   859
8366    5064  55864   237
8766    5166  56065   372
10533   5700  56245   477
11166   5872  56027   469
11484   5960  56097   943
11795   6000  56102   635
14393   6431  56311   846
15525   6663  56338   205
15579   6670  56389   169
16147   6754  56414   984
16573   6840  56685   166
18761   7303  57013   321
19394   7403  57071   452
22051   8522  58193   474

In [15]:
df_lmagn_1['extension'] = pd.Series(['.fits' for x in range(len(df_lmagn_1.index))], index=df_lmagn_1.index)
df_lmagn_1.insert(1, 'plate2', df_lmagn_1['plate'])

df_lmagn_1['spec'] = pd.Series(['/spec' for x in range(len(df_lmagn_1.index))], index=df_lmagn_1.index)

df_lmagn_1['-'] = pd.Series(['-' for x in range(len(df_lmagn_1.index))], index=df_lmagn_1.index)
df_lmagn_1['-2'] = pd.Series(['-' for x in range(len(df_lmagn_1.index))], index=df_lmagn_1.index)
df_lmagn_1['-3'] = pd.Series(['-' for x in range(len(df_lmagn_1.index))], index=df_lmagn_1.index)


df_lmagn_1 = df_lmagn_1[['plate', 'spec', '-', 'plate2', '-2', 'mjd', '-3', 'fiber', 'extension']]

df_lmagn_1.to_csv('lmagn_speclist_bin_1.txt', sep='\t', index=False)

In [16]:
df_lmagn_2['extension'] = pd.Series(['.fits' for x in range(len(df_lmagn_2.index))], index=df_lmagn_2.index)
df_lmagn_2.insert(1, 'plate2', df_lmagn_2['plate'])

df_lmagn_2['spec'] = pd.Series(['/spec' for x in range(len(df_lmagn_2.index))], index=df_lmagn_2.index)

df_lmagn_2['-'] = pd.Series(['-' for x in range(len(df_lmagn_2.index))], index=df_lmagn_2.index)
df_lmagn_2['-2'] = pd.Series(['-' for x in range(len(df_lmagn_2.index))], index=df_lmagn_2.index)
df_lmagn_2['-3'] = pd.Series(['-' for x in range(len(df_lmagn_2.index))], index=df_lmagn_2.index)


df_lmagn_2 = df_lmagn_2[['plate', 'spec', '-', 'plate2', '-2', 'mjd', '-3', 'fiber', 'extension']]

df_lmagn_2.to_csv('lmagn_speclist_bin_2.txt', sep='\t', index=False)

In [17]:
df_lmagn_3['extension'] = pd.Series(['.fits' for x in range(len(df_lmagn_3.index))], index=df_lmagn_3.index)
df_lmagn_3.insert(1, 'plate2', df_lmagn_3['plate'])

df_lmagn_3['spec'] = pd.Series(['/spec' for x in range(len(df_lmagn_3.index))], index=df_lmagn_3.index)

df_lmagn_3['-'] = pd.Series(['-' for x in range(len(df_lmagn_3.index))], index=df_lmagn_3.index)
df_lmagn_3['-2'] = pd.Series(['-' for x in range(len(df_lmagn_3.index))], index=df_lmagn_3.index)
df_lmagn_3['-3'] = pd.Series(['-' for x in range(len(df_lmagn_3.index))], index=df_lmagn_3.index)


df_lmagn_3 = df_lmagn_3[['plate', 'spec', '-', 'plate2', '-2', 'mjd', '-3', 'fiber', 'extension']]

df_lmagn_3.to_csv('lmagn_speclist_bin_3.txt', sep='\t', index=False)

In [18]:
df_lmagn_4['extension'] = pd.Series(['.fits' for x in range(len(df_lmagn_4.index))], index=df_lmagn_4.index)
df_lmagn_4.insert(1, 'plate2', df_lmagn_4['plate'])

df_lmagn_4['spec'] = pd.Series(['/spec' for x in range(len(df_lmagn_4.index))], index=df_lmagn_4.index)

df_lmagn_4['-'] = pd.Series(['-' for x in range(len(df_lmagn_4.index))], index=df_lmagn_4.index)
df_lmagn_4['-2'] = pd.Series(['-' for x in range(len(df_lmagn_4.index))], index=df_lmagn_4.index)
df_lmagn_4['-3'] = pd.Series(['-' for x in range(len(df_lmagn_4.index))], index=df_lmagn_4.index)


df_lmagn_4 = df_lmagn_4[['plate', 'spec', '-', 'plate2', '-2', 'mjd', '-3', 'fiber', 'extension']]

df_lmagn_4.to_csv('lmagn_speclist_bin_4.txt', sep='\t', index=False)